.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.header-container {
    padding: 1rem 0;
    width: 80vw;
    margin: auto;
    /* border: 1px solid var(--color-gray); */
    /* border-radius: 1rem; */
}
.header-container.active {
    /* border: none; */
    /* background-color:rgb(30 35 41/1); */
    background-color: var(--color-bg);
    /* border-radius:0; */
}
.header-menu {
    gap: 2rem;
    font-weight: bold;
    color:var(--color-gray);
}

.header-menu p{
    cursor: pointer;
}
