.news-wrapper {
    margin: 5rem 0 5rem;
    display: flex;
    gap: 1rem;
}

.news-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    /* width: 50%;
    max-width: 400px; */
    background-color: rgb(30 35 41/1)!important;
    border-radius: 1rem;
    padding: 2rem;
    font-weight: bold;
}
.news-container.main {
    width: 70%;
}
.news-container.main img {
    width: 100%;
    border-radius: 5px;
}

.coin-label > div {
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
}
.coin-label > div p {
    margin: 0;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}
.btc {
    background:#F6921A;
}
.eth {
    background:#687EE3;
}
.bnb {
    background:#F0B90B;
}
.xrp {
    background:#23292F;
}
.news-list-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.news-list {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.news-list:hover {
    color: var(--color-dark);
}
.news-container.all, .news-container.detail {
    min-width: 85%;
}
.news-container.all .news-list:hover {
    color: var(--color-text);
}
.news-container.all  {
    display: block;
    height: calc(100vh - 20rem);
    overflow: auto;
}
.news-container.all::-webkit-scrollbar-thumb {
    background-color:var(--scroll-thumb-color);
    border-radius: 1rem;
}
.news-container.all::-webkit-scrollbar {
    width:var(--scroll-width) ;
}

.news-container.all .news-list h1 {
    margin: 0;
}
.news-container.all .news-list {
    margin-bottom: 2rem;
}

.news-list p {
    margin: 0;
}

.news-list > div {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}
.news-menu {
    position: sticky;
    left: 0;
    top: 0;
    height: calc(100vh - 100px);
    min-width: 10%;
}
.news-menu p:hover {
    background: var( --color-hover);
}
.news-menu label {
    cursor: pointer;
}
.news-title , .news-body {
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.news-container.detail .news-list {
    cursor:auto;
}
.news-container.detail .news-list:hover {
    color: var(--color-main);
}

.news-container.detail .news-info img {
    width: 100px;
    border-radius: 50%;
    background: #fff;
    background: var(--color-bg);
    overflow: hidden;
}

.news-container.detail  img {
    width: 30px;
}

.news-container.detail .coin-label > div p {
    background: var(--scroll-thumb-color);
}

.news-container.detail .news-info p , .news-container.detail .news-detail-content{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.news-container.detail .news-detail-content {
    margin-top: 4rem;
    margin-bottom: 5rem;
}
.news-container.detail .news-title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}
@media screen and (max-width : 1440px){
    h1.news-title{
        font-size: 2rem;
    }
}
@media screen and (max-width : 1024px){
    .news-title, .news-body, h1.news-title {
        font-size: 1.6rem;
    }
    .news-container.main .news-list > div {
        flex-direction: column;
        align-items: flex-start;
        gap:0.5rem;
    }
    .news-container .news-list > div p {
        font-size: 1.4rem;
    }
    .news-container.main a {
        font-size: 1.5rem;
    }
}

@media screen and (max-width : 900px){
    .news-wrapper {
        flex-direction: column;
    }
    .news-container.main {
        width: 100%;
    }
    .news-list {
        margin: 1rem 0;
    }
}
@media screen and (max-width : 768px){
    .news-menu h1 {
        width: 100%;
        margin: 0;
    }
    .news-menu p {
        margin: 0;
    }
    .news-menu {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }
}
@media screen and (max-width : 576px){
    .news-list-wrapper {
        grid-template-columns: 1fr;
    }
    .coin-label > div p {
        font-size: 1.4rem;
    }
    .news-menu  {
        justify-content: flex-start;
        position: inherit;
    }
    .news-menu p , .news-menu h1 {
        margin: 0;
    }
    .news-container.all .news-list h1 {
        font-size: 1.8rem;
    }
    .news-container.all {
        height:calc(100vh - 25rem) ;
    }
    .news-container.detail img {
        width: 20px;
    }
    .news-container.detail .news-title {
        font-size: 2rem;
    }
    .news-container.detail .news-detail-content {
        margin-top: 2rem;
        margin-bottom: 1rem;
        line-height: 2.5rem;
    }
    .news-container.detail .news-info img {
        width: 80px;
    }
}